/* Default cascading style sheet for BBii */

/* General: */
#bbii-wrapper a {
	text-decoration: none;
}

/* Page Header */

#bbii-header {
	border-top: 3px solid #c9e0ed;
	border-bottom: 5px solid #528f6c;
	background-color: #4682b4;
	color: #fff;
	padding: 0 5px 0 5px;
}

#bbii-header .search {
	height: 16px;
	white-space: nowrap;
}

#bbii-header .search .portlet-content {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.bbii-title {
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	margin-left: 10px;
}

.bbii-profile-box {
	background-color: #c9e0ed;
	color: #000;
	float: right;
	padding: 5px;
	border-radius: 0 0 6px 6px;
}

.bbii-profile-box a {
	color: #000;
	text-decoration: none;
}

.bbii-profile-box a:hover {
	color: #00f;
}

#bbii-jumpto {
	float: right;
	margin: 3px;
}

/* Page Header menu */

#bbii-menu {
	padding:0;
	margin: 0;
	height: 24px;
}

#bbii-menu ul {
	display:table;
	margin: 0; 
	padding: 0; 
	float: left;
	width:100%
}

#bbii-menu a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 5px 15px;
	text-decoration: none;
	line-height:24px;
}

#bbii-menu li {
	display: table-cell;
	position: relative;
	padding: 0;
	line-height:24px;
}

#bbii-menu ul li {
	display: table-cell; 
	float: left;
}

#bbii-menu ul li>a:hover, #bbii-menu ul li.active>a  {
	color: #fff;
	background-color:#528f6c;
	border-radius: 10px 10px 0;
}

/* Page Footer */

#bbii-footer a.spider {
	color: #ff8c00;
}

#bbii-footer {
	background-color: #c9e0ed;
	border-top: 3px solid #4682b4;
	border-bottom: 6px solid #4682b4;
	color: #444;
	display: table;
	border-spacing: 5px;
	margin-top: 5px;
	width: 100%;
}

#bbii-footer caption {
	background-color: transparent;
	font-size: 17px;
	font-weight: bold;
}

#bbii-footer table {
	margin: 0;
}

#bbii-footer .legend {
	vertical-align: middle;
	width: 65%;
}

#bbii-footer .legend td {
	font-weight: bold;
}

#bbii-footer .online {
	vertical-align: top;
	width: 65%;
}

#bbii-footer .online a:hover {
	color: #09f !important;
}

#bbii-footer .statistics {
	vertical-align: top;
	width: 35%;
}

#bbii-copyright {
	float: right;
	font-size:0.75em;
	font-style: italic;
	font-family: Verdana,sans-serif;
}

/* Forum and Topic page */

#bbii-wrapper .forum-category {
	color: #fff;
	background: url('images/bg.gif');
/*	border-radius: 10px;	*/
	margin-top: 2px;
	padding: 3px 10px;
}

#bbii-wrapper div.pager {
	margin: 5px 0;
}

#bbii-wrapper div.pager  li.hidden{
	display: none;
}

/* Forum page */

/* Topic page */

#bbiiTopic a.posted:after {
	color: gold;
	content: " \272f";
}

/* Post list */
#bbiiPost .post-content blockquote {
	border: solid 1px #c9e0ed;
	margin: 5px;
	padding: 5px 10px;
}

#bbiiPost .blockquote-header {
	background-color: #c9e0ed;
	margin: -5px -10px 5px -10px;
	padding: 5px 10px;
	font-weight: bold;
}

/* Item lists */

#bbii-wrapper .items .post {
	border-radius: 10px;
}

#bbii-wrapper .items .member-cell {
	border-radius: 10px 0 0 10px;
}

#bbii-wrapper .items .post-header {
	border-radius: 0 10px 0 0;
}

/* Private mail */
#bbii-message blockquote {
	border: solid 1px #c9e0ed;
	margin: 5px;
	padding: 5px 10px;
}

#bbii-message .blockquote-header {
	background-color: #c9e0ed;
	margin: -5px -10px 5px -10px;
	padding: 5px 10px;
	font-weight: bold;
}

#inbox-grid tbody {
	display: block;
    height: 200px;
    overflow-y: auto;
}

#inbox-grid thead  {
	display: block;
}

#inbox-grid td:nth-child(1), #inbox-grid th:nth-child(1) {
	width: 125px;
}

#inbox-grid td:nth-child(2), #inbox-grid th:nth-child(2) {
	width: 400px;
	overflow: hidden;
}

#inbox-grid td:nth-child(3), #inbox-grid th:nth-child(3) {
	width: 200px;
}

#inbox-grid td:nth-child(4), #inbox-grid th:nth-child(4) {
	width: 75px;
}

#inbox-grid td:nth-child(5) {
	width: 110px;
}

#inbox-grid th:nth-child(5) {
	width: 126px;
}

/* Buttons */

.bbii-topic-button {
	background: url('../../images/forum1.png') no-repeat #c9e0ed;
	background-size: 20px 22px;
	border: 1px solid #4682b4;
	border-radius: 3px;
	color: #4682b4;
	cursor: pointer;
	padding: 3px 5px 3px 22px;
	font-weight: bold;
}

.bbii-quote-button {
	background: url('../../images/quote-icon-right.png') no-repeat #c9e0ed;
	background-size: 16px 13px;
	background-position: 5px 3px;
	border: 1px solid #4682b4;
	border-radius: 3px;
	color: #4682b4;
	cursor: pointer;
	padding: 3px 5px 3px 22px;
	font-weight: bold;
}

.bbii-edit-button {
	background: url('../../images/update.png') no-repeat #c9e0ed;
	background-size: 16px 16px;
	background-position: 5px 3px;
	border: 1px solid #4682b4;
	border-radius: 3px;
	color: #4682b4;
	cursor: pointer;
	padding: 3px 5px 3px 22px;
	font-weight: bold;
}

.bbii-watch-button {
	background-color: #c9e0ed;
	border: 1px solid #4682b4;
	border-radius: 3px;
	color: #4682b4;
	cursor: pointer;
	margin: 3px;
	padding: 3px 5px 3px 5px;
	font-weight: bold;
	float: left;
}

button.bbii-button-right {
	background-color: #4682b4;
	color: #fff;
	float: right;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
}

/* Sprite classes */

#bbii-wrapper .forum-cell.forum1 {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2 {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: 0px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1h {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -50px -0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2h {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -50px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1l {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -250px -0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2l {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -250px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1m {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -350px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2m {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -350px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1lm {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -300px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2lm {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -300px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1lh {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -100px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2lh {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -100px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1mh { 
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -200px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2mh {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -200px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum1lmh {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -150px 0px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.forum2lmh {
	width: 38px;
	min-width: 38px;
	height: 41px;
	background-image: url('images/forum-sprites.png');
	background-position: -150px -50px;
	background-repeat: no-repeat;
	padding: 0;
}

#bbii-wrapper .forum-cell.topic1 {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2 {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: 0px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1g {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -40px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2g {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -40px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1gp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -120px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2gp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -120px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1gs {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -80px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2gs {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -80px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1gsp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -120px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2gsp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -120px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1gsl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -480px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2gsl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -480px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1gspl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -160px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2gspl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -160px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1s {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -200px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2s {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -200px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1sp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -240px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2sp {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -240px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1spl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -280px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2spl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -280px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1p {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -320px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2p {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -320px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1pl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -360px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2pl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -360px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1l {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -400px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2l {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -400px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic1sl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -440px 0px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

#bbii-wrapper .forum-cell.topic2sl {
	width: 32px;
	min-width: 32px;
	height: 35px;
	background-image: url('images/topic-sprites.png');
	background-position: -440px -40px;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	float: left;
}

/* */

#bbii-wrapper p {
	margin-bottom: 10px;
}

#bbii-wrapper .center {
	text-align: center;
}

#bbii-wrapper .down35 {
	margin-bottom: -35px;
}

#bbii-wrapper .forum-cell {
	display: table-cell;
	padding: 2px 5px;
	vertical-align: top;
	white-space: nowrap;
}

#bbii-wrapper .img30 img {
	height: 30px;
	width: 30px;
}

#bbii-wrapper .last-cell {
	text-align: right;
	vertical-align: middle;
	min-width: 180px;
}

#bbii-wrapper .main {
	width: 600px;
}

#bbii-wrapper .member-cell {
	background-color: #c9e0ed;
	display: table-cell;
	padding: 0 10px;
	width: 110px;
}

#bbii-wrapper .member-cell .membername {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#bbii-wrapper .member-cell .group {
	text-align: center;
}

#bbii-wrapper .member-cell .avatar {
	text-align: center;
}

#bbii-wrapper .post {
	border: 1px solid #c9e0ed;
	border-radius: 10px;
	display: table;
	margin-bottom: 2px;
	width: 100%;
}

#bbii-wrapper .post hr {
	margin: 0 0 10px;
}

#bbii-wrapper .post-cell {
	display: table-cell;
	padding: 0;
}

#bbii-wrapper .post-cell .post-header {
	border: solid 1px #c9e0ed;
	background: linear-gradient(to right,#c9e0ed, #ffffff);
	padding: 3px 10px;
}

#bbii-wrapper .post-cell .post-header input {
	float: right;
	margin: 5px 1px;
}

#bbii-wrapper .post-cell .post-content {
	padding: 10px;
}

#bbii-wrapper .post-cell-cell {
	display: table-cell;
}

#bbii-wrapper .post {
	border: 1px solid #c9e0ed;
	display: table;
	width: 100%;
}

#bbii-wrapper .post-footer {
	font-style: italic;
	padding: 5px 10px;
}

#bbii-wrapper .post-upvote-footer {
	border: solid 1px #c9e0ed;
	border-radius: 5px;
	font-style: italic;
	padding: 5px 5px;
	margin: 2px 10px;
}

#bbii-wrapper .signature {
	border-top: solid 2px #c9e0ed;
	margin: 5px 10px;
}

#bbii-wrapper .topic {
	background-color: #e9eff4;
	display: block;
	margin: 1px;
}

#bbii-wrapper .toolbar {
	padding: 1px 0 3px 10px;
}

#bbii-wrapper tr.unread td {
	font-weight: bold;
}

#bbii-forum-form {
	background-color: #eee;
	padding: 5px;
}

#bbii-message {
	border: solid 1px #c9e0ed;
	height: 500px;
	overflow: auto;
}

#bbiiForum {
	border-spacing: 0 1px;
	width: 100%;
	display: table;
}

#bbiiForum .forum {
	background-color: #e9eff4;
	display: block;
	margin: 1px;
}

.bbii-box-top {
	background-color: #4682b4;
	border-radius: 6px 6px 0 0;
	clear: both;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
}

.bbii-poll {
	background-color: #c9e0ed;
	padding: 5px;
}

.bbii-poll-form {
	background-color: #c9e0ed;
	padding: 5px;
}

.progressbar {
	background-color: #f00;
	border-radius: 2px;
	padding: 2px;
}
.progress {
	background-color: #c9e0ed;
	border: solid 1px #000;
	border-radius: 4px;
	margin: 5px;
	padding: 2px;
}

.reputation {
	background-color: #bde9bd;
	border: solid 1px #99a0ed;
	border-radius: 3px;
	padding: 1px 3px;
}

.sortable:hover {
	cursor: move;
}

.spinner {
	background: url(../../images/spinner.gif) no-repeat center;
}

table {
	margin-bottom: 0.1em;
}

table li {
	margin: 1px;
}

tbody.category {
	background-color: #528f6c;
	color: white;
}

tbody.forum {
	background-color: #4682b4;
	color: white;
}

td.name {
	font-weight: bold;
	font-size: 14px;
	padding: 1px 1px 1px 10px;
}

td.subtitle {
	font-style: italic;
	padding: 1px 1px 1px 10px;
}

td {
	padding-right: 5px;
}

table.profile {
	background-color: #c9e0ed;

}

table.profile td {
	vertical-align: top;
}

tr.moderator {
	background-color: #dfb;
}

.header1 {
	font-size: 20px;
	font-weight: bold;
}

.highlight {
	background-color: #c9e0ed;
	padding: 1px 2px;
}

.fade {
	background: linear-gradient(to right,#c9e0ed, #ffffff);
}

.header2 {
	font-size: 17px;
	font-weight: bold;
}

.header3 {
	font-size: 14px;
	font-weight: bold;
}
.header4 {
	font-size: 11px;
	font-weight: bold;
}

.target {
	color: #528f6c;
	font-style: italic;
}

.margin5 {
	margin: 5px;
}

.pad5 {
	padding: 5px;
}

.small-search-button {
	height: 21px;
	width: 21px;
	background: url('../../images/view.png') no-repeat #eee;
	background-size: 14px 14px;
	background-position: 3px 3px;
	border: 1px solid #222;
	border-radius: 4px;
	cursor: pointer;
}

.small-search-field {
	font-size: 13px;
	padding: 2px;
	margin: 2px 1px;
}
